FLASK_APP=app:create_app
FLASK_ENV=development
SECRET_KEY=dev-secret-change-me
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/database
POSTGRES_DB=database
POSTGRES_USER=postgres-user
POSTGRES_PASSWORD=password
